.DS_Store
.idea/
.vscode/

*.log
*.pyc
*.pyo
__pycache__/
.pytest_cache/
pytest-cache-files-*

node_modules/
dist/
frontend/node_modules/
frontend/dist/

backend/.env
backend/dist/.env
backend/build/
backend/dist/
backend/data/
backend/_test_report.xlsx
