node_modules
dist
.DS_Store
*.log
*.pyc
__pycache__
.pytest_cache
pytest-cache-files-*

frontend/node_modules
frontend/dist

backend/.env
backend/__pycache__
backend/data/logs/
backend/data/csv/
backend/data/csv_reports_final/

.idea
.vscode
